.contenedorcalificaciones{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #D5D5D5;
    /*border: 1px solid black;
    /*border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;*/
}

.calificaciones1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    /* margin: 2px; */
    background-color: #D5D5D5;
    /* border-radius: 8px 8px 8px 8px; */
    /* -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    padding: 1%; */
}

.titulocalifi{

}

.calificaciones2{
    /*overflow-y:scroll;
    overflow-x: hidden;*/
    display: flex;
    height: 55%;
    /* margin: 1px; */
    background-color: white;
    /* border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px; */
}

.tablascrollcalifi{
    overflow-y:scroll;
    margin:0; 
}

.calificaciones3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    /* margin: 1px; */
    background-color: #D5D5D5;
    /* border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px; */
}

.datoscalifi2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.datoscalifi21{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black;
    font-weight: bold;
    margin-right: 30px;
}

.datoscalifi{
    color: black;

}

.datoscalifi1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    color: black;
    /*font-stretch: bold; */
}

.califiex{
    color: black;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    padding-right: 1px;
    background-color: green;
}

.califibu{
    color: black;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    padding-right: 1px;
    background-color: #D6EAF8;
}

.califire{
    color: black;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    padding-right: 1px;
    background-color: yellow;
}

.califima{
    color: black;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    padding-right: 1px;
    background-color: red;
}