.textbox{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #bb0d0d;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.botonRecuperarContra {
    width: 300px;
    height: 80px;
    background: dodgerblue;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

.botonRecuperarContra svg {
    transform: rotate(180deg);
    transition: all .5s;
}

.botonRecuperarContra__circle {
    width: 120px;
    height: 120px;
    background: mediumseagreen;
    border-radius: 50%;
    transform: rotate(-180deg);
}

.botonRecuperarContra:hover {
    cursor: pointer;
}

.tick {
    color: white;
    font-size: 2em;
    transition: all .9s;
}

#login{
    margin-right: 250px;
    margin-left: 250px;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);

}
#usuario{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 25px;
    border-style: solid;
    border-width:  thin;
    border-color: #bcbcbc;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left: 30px;
    -webkit-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);

}
#contrasena{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 25px;
    border-style: solid;
    border-width:  thin;
    border-color: #bcbcbc;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left: 30px;
    -webkit-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
}
.recuperarContra{
    margin: 20px;

}
.rc{
    cursor: pointer;
}

#modulo{
    width: 80%;
    display: block;
    margin: 0 auto;
    /*margin-bottom: 60px;*/
    border-radius: 25px;
    border-style: solid;
    border-width:  thin;
    border-color: #bcbcbc;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left: 30px;
    -webkit-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.27);
}
#input{
    margin-top: 128px;
    margin-bottom: 125px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(188,188,188,0.5);
    opacity: 1; /* Firefox */
}

#entrar{	
    background-color: #444545;
    border-color: #444545;
}

#imagen{

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    background-size: 100% 100%;
    border-radius: 25px;
}
#imagen{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url('../image/login.png');
    background-repeat: none;
    background-size: 100% 100%;
    padding: 10px 30px 10px 30px;

}
.fondologin1{
    background-color: #3B3B3B;
}

.logologin{
    width: 80%;
    height: 30%;
    /*background-color: #bb0d0d;*/
    background-image: url('../image/encuestar.png');
    background-repeat: none;
    background-size: 100% 100%;
    padding: 10px 30px 10px 30px;
}

.fondologin1 {
    background-color: #9D9EA1;
}