<div class="contenedornavegacion">
    <div class="navegacionadmin">
            <p class="nombreusuarioadmin">{{nombrecompletoadmin}}</p>
    </div>
    <div class="contenedorbotones">
        <div class="botonesconte" ng-click="ClicItem('calificaciones')" >
            <div class="fontboton">
                <button title="Calificaciones" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-check-square "
                style="font-size: 40px"></i></button>
                
            </div>
            <div class="fonttext">
            <P class="nombretext">Inicio</P>
            </div>
        </div>
        <div class="botonesconte" ng-click="ClicItem('usuario')">
            <div class="fontboton">
                <button  title="Usuarios" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-group" style="font-size:40px"></i></button>
            </div>
            <div class="fonttext">
                <P class="nombretext">Usuarios</P>
            </div>
        </div>
        <div class="botonesconte" ng-click="ClicItem('configusuarios')">
            <div class="fontboton">
                <button  title="Config. Usuarios" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-gears" style="font-size:40px"></i></button>
            </div>
            <div class="fonttext">
                <P class="nombretext">Ajustes</P>
            </div>
        </div>
        <div class="botonesconte" ng-click="ClicItem('sedes')">
            <div class="fontboton">
                <button  title="Sedes" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-institution" style="font-size:40px"></i></button>
            </div>
            <div class="fonttext">
                <P class="nombretext">Ciudad</P>
            </div>
        </div>
        <div class="botonesconte" ng-click="ClicItem('paquete')">
            <div class="fontboton">
                <button  title="Preguntas" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-question-circle" style="font-size:40px"></i></button>
            </div>
            <div class="fonttext">
                <P class="nombretext">Preguntas</P>
            </div>
        </div>
        <div class="botonesconte" ng-click="ClicItem('reportes')" >
            <div class="fontboton">
                <button title="Reportes" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-file-text" style="font-size:40px"></i></button>
            </div>
            <div class="fonttext">
                <P class="nombretext">Reportes</P>
            </div>
        </div>
    </div>
    <div class="contenedorlogo">
        <p class="urlnavegacion">www.magiturno.com</p>
    </div>
</div>