<div class="contenedornavegacion">
    <div class="navegacionadmin">
            <p class="nombreusuarioadmin">{{nombrecompletoadmin}}</p>
    </div>
    <div class="contenedorbotones">
        <div class="botonesconte {{botoncalif}}" ng-click="ClicItem('calificaciones')" >
            <div class="fontboton">
                <i class="fa fa-check-square faicon {{botoncaliffa}}" style="font-size: 40px"></i>
            </div>
            <div class="fonttext">
            <P class="nombretext {{botoncaliftxt}}">Inicio</P>
            </div>
        </div>
        <div class="botonesconte {{botonusuarios}}" ng-click="ClicItem('usuario')">
            <div class="fontboton">
                <i class="fa fa-group faicon {{botonusuariosfa}}" style="font-size:40px"></i>
            </div>
            <div class="fonttext">
                <P class="nombretext {{botonusuariostxt}}">Usuarios</P>
            </div>
        </div>
        <div class="botonesconte {{botonconfig}}" ng-click="ClicItem('configusuarios')">
            <div class="fontboton">
                <i class="fa fa-gears faicon {{botonconfigfa}}" style="font-size:40px"></i>
            </div>
            <div class="fonttext">
                <P class="nombretext {{botonconfigtxt}}">Ajustes</P>
            </div>
        </div>
        <div class="botonesconte {{botonsede}}" ng-click="ClicItem('sedes')">
            <div class="fontboton">
                <i class="fa fa-institution faicon {{botonsedefa}}" style="font-size:40px"></i>
            </div>
            <div class="fonttext">
                <P class="nombretext {{botonsedetxt}}">Ciudad</P>
            </div>
        </div>
        <div class="botonesconte {{botonpregunta}}" ng-click="ClicItem('paquete')">
            <div class="fontboton">
                <i class="fa fa-question-circle faicon {{botonpreguntafa}}" style="font-size:40px"></i>
            </div>
            <div class="fonttext">
                <P class="nombretext {{botonpreguntatxt}}">Preguntas</P>
            </div>
        </div>
        <div class="botonesconte {{botonreporte}} ultimobotonconte" ng-click="ClicItem('reportes')" >
            <div class="fontboton ">
                <i class="fa fa-file-text faicon {{botonreportefa}}" style="font-size:40px"></i>
            </div>
            <div class="fonttext">
                <P class="nombretext {{botonreportetxt}}">Reportes</P>
            </div>
        </div>
    </div>
    <div class="contenedorlogo">
        <div class="contenedorlogo1">
            
        </div>
    </div>
</div>