<!-- <div class="contenedornavboton">
    <button type="button" class="btn btn-light dropdown-toggle botonnav" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-navicon" style="font-size:30px"></i>
    </button>
    <div class="dropdown-menu menubotones">
        <button ng-click="ClicItem('calificaciones')" title="Calificaciones" type="button"
            class="btn btn-dark dropdown-item botonesnav"><i class="fa fa-check-square "
                style="font-size:30px"></i></button>
        
        <div class="dropdown-divider"></div>
        <button ng-click="ClicItem('usuario')" title="Usuarios" type="button"
            class="btn btn-dark dropdown-item botonesnav"><i class="fa fa-group" style="font-size:30px"></i></button>
        <div class="dropdown-divider"></div>
        <button ng-click="ClicItem('configusuarios')" title="Config. Usuarios" type="button"
            class="btn btn-dark dropdown-item botonesnav"><i class="fa fa-gears" style="font-size:30px"></i></button>
        <div class="dropdown-divider"></div>
        <button ng-click="ClicItem('sedes')" title="Sedes" type="button"
            class="btn btn-dark dropdown-item botonesnav"><i class="fa fa-institution"
                style="font-size:30px"></i></button>
        <div class="dropdown-divider"></div>
        <button ng-click="ClicItem('paquete')" title="Preguntas" type="button"
            class="btn btn-dark dropdown-item botonesnav"><i class="fa fa-question-circle"
                style="font-size:30px"></i></button>
        <div class="dropdown-divider"></div>
        <button ng-click="ClicItem('reportes')" title="Reportes" type="button"
            class="btn btn-dark dropdown-item botonesnav"><i class="fa fa-file-text"
                style="font-size:30px"></i></button>
    </div>
</div> -->
<div class="datoarribaadmin">
    <!-- <h4>{{nombrecompletoadmin}}</h4> -->
</div>
<div class="logoarribadmin">
    <div class="logoencuestar">
        
    </div>
</div>
<div class="cerrararribaadmin">
    <button type="button" ng-click="cerrarSesion()" class="btn btn-danger botonsaliradmin">Cerrar sesión</button>
</div>