<div class="contenedornavegacion">
    <div class="navegacionadmin">
            <p class="nombreusuarioadmin">{{nombrecompletoadmin}}</p>
    </div>
    <div class="contenedorbotones">
        <div class="botonesconte {{botonEmpresa}}" ng-click="ClicItem('Empresas')" >
            <div class="fontboton">
                <i class="fa fa-institution faicon {{botonEmpresafa}}" style="font-size: 40px"></i>
            </div>
            <div class="fonttext">
            <P class="nombretext {{botonEmpresatxt}}">Empresas</P>
            </div>
        </div>
        
        
        <div class="botonesconte {{botonRecuperarEmpresa}}" ng-click="ClicItem('RecuperarEmpresa')" >
            <div class="fontboton">
                <i class="fa fa-check-square faicon  {{botonRecuperarEmpresafa}}" style="font-size: 40px"></i>
            </div>
            <div class="fonttext">
            <P class="nombretext {{botonRecuperarEmpresatxt}}">Recuperar Empresas</P>
            </div>
        </div>
        
<!--        <div class="botonesconte {{botonEmpresa}}" ng-click="ClicItem('Empresas')" >
            <div class="fontboton">
                <button title="Calificaciones" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-institution" style="font-size: 40px"></i></button>
            </div>
            <div class="fonttext {{botonEmpresatxt}} ">
            <P class="nombretext">Empresas</P>
            </div>
        </div>-->
<!--        <div class="botonesconte {{botonEmpresafa}} " ng-click="ClicItem('RecuperarEmpresa')">
            <div class="fontboton">
                <button  title="Usuarios" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-check-square" style="font-size:40px"></i></button>
            </div>
            <div class="fonttext">
                <P class="nombretext">Recuperar Empresa</P>
            </div>
        </div>-->
    </div>
    <div class="contenedorlogo">
        <div class="contenedorlogo1">
            
        </div>
    </div>
</div>

<!--<div class="contenedornavegacion">
    <div class="navegacionadmin">
            <p class="nombreusuarioadmin">{{nombrecompletoadmin}}</p>
    </div>
    <div class="contenedorbotones">
        <div class="botonesconte" ng-click="ClicItem('Empresas')" >
            <div class="fontboton">
                <button title="Calificaciones" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-institution" style="font-size: 40px"></i></button>
            </div>
            <div class="fonttext">
            <P class="nombretext">Empresas</P>
            </div>
        </div>
        <div class="botonesconte" ng-click="ClicItem('RecuperarEmpresa')">
            <div class="fontboton">
                <button  title="Usuarios" type="button"
                class="btn btn-dark dropdown-item botonesnav1"><i class="fa fa-check-square" style="font-size:40px"></i></button>
            </div>
            <div class="fonttext">
                <P class="nombretext">Recuperar Empresa</P>
            </div>
        </div>
    </div>
    <div class="contenedorlogo">
        <p class="urlnavegacion">www.magiturno.com</p>
    </div>
</div>-->