<div class="contenedoradmin" style="height: 100vh; width: 100vw;">


    <div class="contenedoradmin1">
            <div class="contenedoradminnavegacion" ng-include="'app/template/adminnavegacion.html'">

            </div>
            <div class="contenedoradmininterfaces">
        <div class="contenedorarriba">
            <div class="contenedorarriba1" ng-include="'app/template/navegacion.html'">
            </div>
        </div>
        <div class="contenedorinterfaces">
            <div class="contenedorsedes">
                <div class="sedes1">
                    <h2 class="titulosedes">CIUDAD</h2>
                </div>
                <div class="sedes2">
                    <div class="sedes2left">
                        <form class="form-group grupoinputssede" ng-submit="ingresarciudad()">
                            <label class="labelsedes">Ingresar Ciudad:</label>
                            <input placeholder="Nombre de la sede" style="
                            margin-bottom: 10px" type="text" class="form-control"
                                ng-model="ciudad.nombreciudad">
                            <button type="submit" class="btn btn-success botoncrearsede">Crear</button>
                        </form>
                    </div>
                    <div class="sedes2right table-responsive tablascrollsedes  my-custom-scrollbarUsuarios">
                        <table class="table table-dark tablasede table-hover ">
                            <thead>
                                <tr>
                                    <th>CIUDAD</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ciudad in listaciudad">
                                    <td>{{ciudad.NombreCiudad}}</td>
                                    <td>
                                        <button title="Editar"
                                            class="fa fa-pencil-square-o btn btn-primary btneditarusuario"
                                            style="font-size:25px" data-toggle="modal" data-target="#editarciudad"
                                            ng-click="traerciudad(ciudad.IdCiudad)"></button>
                                        <button title="Eliminar" class="fa fa-trash btn btn-danger btneliminarusuario "
                                            style="font-size:25px" data-toggle="modal" data-target="#eliminarciudad"
                                            ng-click="listarciudadeliminar(ciudad.IdCiudad)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="sedes1">
                    <h2 class="titulosedes">SEDES</h2>
                </div>
                <div class="sedes3">
                    <div class="sedes2left">
                        <label class="labelsedes">Elegir Ciudad:</label>
                        <select class="form-control grupoinputssede" style="
                        margin-bottom: 10px" ng-change="elegirCiudad(IdCiudad)"
                            ng-model="IdCiudad">
                            <option></option>
                            <option ng-repeat="ciudades in listarciudades" value="{{ciudades.IdCiudad}}">
                                {{ciudades.NombreCiudad}}</option>
                        </select>
                        <form class="form-group grupoinputssede" ng-submit="ingresarsede()">
                            <label class="labelsedes">Ingresar Sede:</label>
                            <input placeholder="Nombre de la sede" type="text" style="
                            margin-bottom: 10px" class="form-control"
                                ng-model="sede.NombreSede">
                            <button type="submit" class="btn btn-success botoncrearsede">Crear</button>
                        </form>
                    </div>
                    <div class="sedes2right table-responsive tablascrollsedes  my-custom-scrollbarUsuarios">
                        <table class="table table-dark tablasede table-hover ">
                            <thead>
                                <tr>
                                    <th>SEDES</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sedes in listarsedes">
                                    <td>{{sedes.NombreSede}}</td>
                                    <td>
                                        <button title="Editar"
                                            class="fa fa-pencil-square-o btn btn-primary btneditarusuario"
                                            style="font-size:25px" data-toggle="modal" data-target="#editarsedes"
                                            ng-click="editarsede(sedes.IdSede)"></button>
                                        <button title="Eliminar" class="fa fa-trash btn btn-danger btneliminarusuario "
                                            style="font-size:25px" data-toggle="modal" data-target="#eliminarsedes"
                                            ng-click="listarsedeeliminar(sedes.IdSede)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>

<!--MODAL PARA EDITAR CIUDAD-->
<div class="modal fade" id="editarciudad">
    <div class="modal-dialog">
        <form>
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Editar Ciudad</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body modaleditusuario">
                    <div class="form-group grupoinputseditusuario">
                        <label>Nombre de la Ciudad:</label>
                        <input type="text" class="form-control" ng-model="editarciudad.NombreCiudad	">
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal"
                        ng-click="editarlaciudad(editarciudad.IdCiudad)">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--MODAL PARA ELIMINAR SEDES-->
<div class="modal fade" id="eliminarciudad">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Ciudad</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                ¿ Desea Eliminar la Ciudad ?
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    ng-click="eliminarciudad()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarsedes">
    <div class="modal-dialog">
        <form>
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Editar Sede</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body modaleditusuario">
                    <div class="form-group grupoinputseditusuario">
                        <label>Nombre de la Sede:</label>
                        <input type="text" class="form-control" ng-model="editsede.NombreSede">
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal"
                        ng-click="editarlasede(editsede.IdSede)">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--MODAL PARA ELIMINAR SEDES-->
<div class="modal fade" id="eliminarsedes">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Sede</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                ¿ Desea Eliminar la Sede ?
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    ng-click="eliminarsede()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL PARA CONTROLAR SEDE-->
<div class="modal fade" id="btnformulariosedes">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                {{mensaje}}
            </div>
        </div>
    </div>
</div>